---
import Header from "../components/Header.svelte";
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION, BASE_URL } from "../consts";

import { Image } from "@astrojs/image/components";
import image1 from '../../public/sketch.png';
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main>
      <Header currentURL={Astro.url.pathname} />
      <h1>My work?</h1>
      <Image src={image1} width={1280} aspectRatio="16:9" alt="descriptive text" />
    </main>
  </body>
</html>
